  *, *:before, *:after {
    box-sizing: border-box;
  }

  /* input[type=text] {
    padding: 0.4rem;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
  }
   */
  .mapContainer {
    background-color: rgb(105, 105, 105);
    height: 400px;
    width: 600px;
    padding: 2px;
  }

  .maplibregl-map, .mapboxgl-map {
    max-width: 100%;
    max-height: 100%;
  }

  .collectionContainer {
    width: 300px;
    padding: 1rem;
  }