.MuiTableCell-root {
  padding: 0.5rem;
}

.options {
  padding: 1px 5px 1px 5px;
  column-gap: 1rem;
  display: flex;
}

.options a,
a.hover {
  color: rgb(38, 112, 177);
}

#standingsTable {
  max-width: 700px;
}

#standingsTable .limit-width {
  max-width: 85px;
  /* Set a maximum width for the last cell header */
  overflow: hidden;
  /* Hide any overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for text overflow */
  white-space: nowrap;
  /* Prevent text from wrapping */
}
#ladderGrid #matches {
  display: none !important;
}

.matchButton {
  padding: 8px;
  margin: 8px;
  display: none !important;
}

@media (min-width: 1000px) {
  #ladderGrid {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: auto 1fr;
    gap: 3rem;
  }

  #ladderGrid .left {
    display: flex;
    flex-direction: column;
  } 
  #ladderGrid .left .header {
    display: flex;
    flex-direction: row;
  }

  #ladderGrid #matches {
    display: flex !important;
  }
  .matchButton {
    display: block !important;
  }
}