.icon-bar {
    background-color: blanchedalmond;
    max-width: 100%;
}

.profile-main {
    flex-direction: column;
}

.profile-info {
    flex-direction: row;
    display: flex;
    gap: 1rem;
}

.profile-form {
    flex-direction: column;
}

.profile-contact {
    display: block;
}

.rightProfileContent {
    min-width: 100%;
}

@media (min-width: 868px) {
    .profile-main {
        flex-direction: column;
        gap: 1rem;
    }

    .profile-form {
        flex-direction: row;
    }

    .profile-info {
        flex-direction: column;
        position: relative; 
        align-self: flex-start;
    }

    .rightProfileContent {
        /* max-width: 710px; */
        min-width: 600px;
    }
}

/* .profileWrapper {
    grid-gap: 0.5rem;
    display: grid;
    background-color: #fff;
    color: #444;
    grid-template-areas: 
        "header"
        "profilePic"
        "stats"
        "about"
        "matches"
    /*  templateColumns={{ base: '1fr', large: "1fr 2fr 2fr" }}
        templateRows="1fr"
} */



/* #profile > .contact {
    grid-area: "contact";
}
#profile > .image {
    grid-area: "image";
}
#profile > .name {
    grid-area: "name";
} */

@media only screen and (max-width: 868px) {
    #___profileContact {
        /* display: grid;
        grid-template-areas: 
            "image name"
            "contact .";
        grid-template-rows: "1fr auto";
        grid-template-columns: "auto auto"; */
        /* max-width: 230px; */
        text-align: center;
    }
}

.hiddenImageInput {
    display: none;
    align-self: "end"
}

.header {
    grid-area: header;
}

.profilePic {
    grid-area: profilePic;
    max-height: 300px;
}

.stats {
    grid-area: stats;
}

.about {
    grid-area: about;
}

.matches {
    grid-area: matches;
}

.profileImage {
    width: 150px;
}

.editIconWrapper {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    overflow: auto;
    z-index: 1;
}

.profileImageContainer {
    background-color: var(--amplify-colors-purple-10);
    border-radius: 50%;
    /* max-width: 150px; */
    max-height: 150px;
    overflow: hidden;
    border: solid 1px var(--amplify-colors-purple-100);
}

/* @media only screen and (min-width: 868px)   {
    .profileWrapper {
      grid-template-columns: 1fr 2fr 2fr;
      grid-template-areas:
      "header  header  header"
      "profilePic stats stats"
      "about about about"
      "matches  matches  matches";
    }
  } */