.App {
  text-align: center;
  margin-inline: auto;
  max-width: 60rem;
  padding: 0 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Content {
  text-align: center;
  width: 60rem;
}

header {
  min-height: 2rem;
  display: grid;
  place-items: center;
}

/* @media only screen and (max-width: 600px) { 
  .flex {
    flex-direction: column;
  }
} */

@media (max-width: 600px) { 
  .flex {
    flex-direction: column;
  }
}

img {
  /* display: block; */
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.amplify-menu-content {
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}
.amplify-menu-content__item:hover {
  background-color: var(--amplify-colors-yellow-40);
}
.amplify-menu-trigger {
  --amplify-components-button-border-color: var(
    --amplify-colors-brand-secondary-90
  );
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}

.card {
  background-color: #fdfdc89c;
  border-radius: 5px;
}

a {
  color: #076b6e;
}
a:hover {
  color: black;
  background-color: beige;

}

.cursorHand {
    cursor: pointer;
}

.MuiOutlinedInput-root {
  background-color: #ccff0022;
}