body,html {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;    
  transition: all 0.4s ease-in-out;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #edfdf0;
}

* {
  box-sizing: inherit;
}

.profileImageContainer_small {
  /* background-color: var(--amplify-colors-purple-10); */
  border-radius: 50%;
  /* max-width: 30px;
  max-height: 30px; */
  display: inline-block;
  overflow: hidden;
  /* border: solid 1px var(--amplify-colors-purple-100); */
  vertical-align: middle;
}

@font-face {
  font-family: belleFair;
  src: url(images/Bellefair-Regular.otf);
}

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;    
  transition: all 0.4s ease-in-out;
}
/* Base styles for mobile devices */
.content {
  /* width: 60rem; */
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: #edfdf0;
  min-width: 450px;
}

.mobile-only {
  display: contents;
}
.desktop-only {
  display: none !important;
  /* visibility: hidden; */
}
.desktop-menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin-right: 20px;
  position: relative;
}

.dropdown .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.error {
  color: red;
}

.dropdown:hover .submenu {
  display: block;
}

@media (min-width: 868px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: block !important;
  }
  .content {
    /* width: 60rem; */
    padding: 1rem;
    background-color: #edfdf0;
  }
}

.hidden {
  display: none;
}

.form-group {
  display: grid;
}

.breadcrumbs {
  padding-left: 1rem;
}


img {
  /* display: block; */
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.win-accent * {
  color:green;
}

.lose-accent * {
  color: rgb(224, 13, 13);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.amplify-menu-content {
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}
.amplify-menu-content__item:hover {
  background-color: var(--amplify-colors-yellow-40);
}
.amplify-menu-trigger {
  --amplify-components-button-border-color: var(
    --amplify-colors-brand-secondary-90
  );
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}

.card {
  background-color: #fdfdc89c;
  border-radius: 5px;
}

a {
  color: #06ac51;
  text-decoration: none;
}
a:hover {
  color: #2f85ad;
  text-decoration: underline;
}

.cursorHand {
    cursor: pointer;
}

.hide {
  display: none;
}

.vericaltext{
  writing-mode: vertical-lr;
  text-orientation: upright;
 }

/* .MuiOutlinedInput-root {
  background-color: #ccff0022;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #c8e6c9;
  color: #000000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
  padding: .7rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}