body {
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;    
  transition: all 0.4s ease-in-out;
}

@font-face {
  font-family: belleFair;
  src: url(images/Bellefair-Regular.otf);
}

/* * {
  font-family: belleFair;
} */

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;    
  transition: all 0.4s ease-in-out;
}

.App {
  /* margin-inline: auto; */
  /* margin-top: 100px; */
  max-width: 60rem;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
    auto
    1fr
    auto;
  background-color: #edfdf0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Content {
  width: 60rem;
  padding: 1rem;
}

.hidden {
  display: none;
}

.form-group {
  display: grid;
}

header {
  min-height: 2rem;
  background-color: #f6ffc3;
  min-height: 85px;
}

footer {
  padding: 1rem;
  text-align: center;
}

/* @media only screen and (max-width: 600px) { 
  .flex {
    flex-direction: column;
  }
} */
@media  screen and (max-width: 700px) {    
  .mediaFlex {
    flex-direction: column !important;

  }
  .amplify-card {
    max-width: 600px;
  }
}

img {
  /* display: block; */
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.win-accent * {
  color:green;
}

.lose-accent * {
  color: rgb(224, 13, 13);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.amplify-menu-content {
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}
.amplify-menu-content__item:hover {
  background-color: var(--amplify-colors-yellow-40);
}
.amplify-menu-trigger {
  --amplify-components-button-border-color: var(
    --amplify-colors-brand-secondary-90
  );
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}

.card {
  background-color: #fdfdc89c;
  border-radius: 5px;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: rgb(64, 0, 107);
  text-decoration: underline;
}

.cursorHand {
    cursor: pointer;
}

.hide {
  display: none;
}

/* .MuiOutlinedInput-root {
  background-color: #ccff0022;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #c8e6c9;
  color: #000000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
  padding: .7rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}