.pac-container {
  background-color: #FFF
 }
 .pac-item,
 .pac-item-query {
  color: #000000;
 }
 .pac-item:hover {
  background: #5353539f;
 }

 .pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  display: none;
  /* background-image: none !important;
  height: 0px; */
}