
.setBox {
    width: 4.5rem;
}

.errorText {
    min-width: 20rem;
}

.comment {
    max-width: 600px;
}

.summary {
    font-style: italic;
}

button {
    max-width: 300px;
}

.summaryBox {
    border: 1px dotted black;
    background-color: #e5f0dd;
    font-style: italic;
    padding: .5rem;
    border-radius: 5px;
}